*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*/.gradle/*
Runtime/logs/
Runtime/saves/
out/
Runtime/crash-reports/
Runtime/config/forgeChunkLoading.cfg
Runtime/config/
Runtime/options.txt
*.iws
Runtime/
Images/
.gradle/
